.b-form-order
  form.b-form.__form
    h3.__title Заказать стеновые кольца
    .__line
      +label("Ваше имя", "order_name","text", 1, "Введите Ваше имя")
    .__line
      +label("Контактный телефон", "order_tel", "phone", 1)
    .btn-wrap
      button.btn(type="submit")
        span Отправить заявку
          +svgMono("arrow-hand")
