.b-form-order
  form.b-form.__form
    h3.__title Заказать стеновые кольца
    .__line
      label Ваше имя
      input(type="text" name="order_name" placeholder="Введите Ваше имя" required)
    .__line
      label Контактный телефон
      input(type="phone" name="order_tel" required)
    .btn-wrap
      button.btn(type="submit")
        span Отправить заявку
          +svgMono("arrow-hand")
