.b-prod-item.__item
  h3.__header Люки полимерные
  table.b-prod-table.__table
    tr
      th Наименование<br>диаметр, мм
      th Вес, кг
      th Стоимость
    tr
      td
        a.fancybox.__name(href="../img/content/gost_lp-15.png") ЛП 1.5<br>
        p 750
      td 23
      td.__price 40 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_lp-30.png") ЛП 3.0<br>
        p 750
      td 42
      td.__price 50 <span>руб</span>


.btn-wrap
  a.btn(href="#getorder").fancyform
    span Купить полимерный люк
      +svgMono("arrow-hand")
