.b-prod-item
  h3.__header Плита перекрытия (крышка)
  table.b-prod-table.__table
    tr
      th Наименование<br>диаметр х толщина, мм
      th Вес, кг
      th Стоимость
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pp-10-1.png") ПП-10-1<br>
        p 1160х150
      td 250
      td.__price 50 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pp-15-1.png") ПП-15-1<br>
        p 1680х150
      td 700
      td.__price 100 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pp-20-1.png") ПП-20-1<br>
        p 2200х150
      td 1280
      td.__price 160 <span>руб</span>

.b-prod-item
  h3.__header Плита низа (дно)
  table.b-prod-table.__table
    tr
      th Наименование<br>диаметр х толщина, мм
      th Вес, кг
      th Стоимость
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pn-10-1.png") ПН-10-1	<br>
        p 1160х150
      td 400
      td.__price 50 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pn-15-1.png") ПН-15-1<br>
        p 1680х150
      td 950
      td.__price 100 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_pn-20-1.png") ПН-20-1<br>
        p 2200х150
      td 1280
      td.__price 1450 <span>руб</span>

.btn-wrap
  a.btn(href="#getorder").fancyform
    span Купить плиты для колодцов
      +svgMono("arrow-hand")
