.b-prod-item
  h3.__header Кольцо стеновое замковое (с четвертью/фасками)
  table.b-prod-table.__table
    tr
      th Наименование<br>габариты, мм
      th Вес, кг
      th Стоимость
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-7-3.png") КС-7-3<br>
        p 700х300х70
      td 130
      td.__price 30 <span>руб</span>
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-7-6.png") КС-7-6<br>
        p 700х600х70
      td 250
      td.__price 40 <span> руб</span>
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-7-9.png") КС-7-9<br>
        p 700х900х70
      td 380
      td.__price 50<span> руб</span>
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-10-9.png") КС-10-9<br>
        p 1000х900х80
      td 600
      td.__price 65<span> руб</span>
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-15-9.png") КС-15-9<br>
        p 1500х900х90
      td 1000
      td.__price 100<span> руб</span>
    tr
      td
        a.fancyform.__name(href="../img/content/gost_ks-20-9.png") КС-20-9<br>
        p 2000х900х100
      td 1470
      td.__price 160<span> руб</span>

.b-prod-item
  h3.__header Кольцо стеновое с дном
  table.b-prod-table.__table
    tr
      th Наименование<br>габариты, мм
      th Вес, кг
      th Стоимость
    tr
      td
        a.fancybox.__name(href="../img/content/gost_ksd-7-3.png") КСД-15-9<br>
        p 1500х900х90
      td 1600
      td.__price 190 <span>руб</span>
    tr
      td
        a.fancybox.__name(href="../img/content/gost_ksd-20-9.png") КСД-20-9<br>
        p 2000х900х100
      td 2600
      td.__price 320 <span>руб</span>

.btn-wrap
  a.btn(href="#getorder").fancyform
    span Купить стеновые кольца
      +svgMono("arrow-hand")
