section.b-septic.section#septic
  .container
    h2.b-title.--product
      span.__big Комплектация септиков
      span.__sub примеры бетонных септиков
    h3.b-title-small.--color Cтандартные схемы септиков
    .__wrap
      .__item
        .b-sept-count
          .__item
            +svgMono("user")
            | До 4 человек
          .__item
            +svgMono("user")
            | До 5 человек
          .__item
            +svgMono("user")
            | До 6 человек
          .__item
            +svgMono("user")
            | До 10 человек
        .b-septic-desc
          .__item
            .__title Однокамерный септик <br> (до 4 человек)
            .__desc
              .__desc-item
                .__desc-item-title Объем
                .__desc-item-param 4 <span>куб. м</span>
              .__desc-item
                .__desc-item-title Срок<br> эксплуатации
                .__desc-item-param 30 <span>лет</span>
              .__desc-item
                .__desc-item-title Стоимость<br> комплектующих
                .__desc-item-param 580 <span>руб</span>
            .btn-wrap
              a.__btn.btn(href="#get-order")
                span заказать
                  +svgMono("arrow-hand")
          .__item
            .__title Однокамерный септик <br> (до 5 человек)
            .__desc
              .__desc-item
                .__desc-item-title Объем
                .__desc-item-param 5,7 <span>куб. м</span>
              .__desc-item
                .__desc-item-title Срок<br> эксплуатации
                .__desc-item-param 30 <span>лет</span>
              .__desc-item
                .__desc-item-title Стоимость<br> комплектующих
                .__desc-item-param 650 <span>руб</span>
            .b-btn-wrap
              a.__btn.btn(href="#get-order")
                span заказать
                  +svgMono("arrow-hand")
          .__item
            .__title Двухкамерный септик <br> (до 6 человек)
            .__desc
              .__desc-item
                .__desc-item-title Объем
                .__desc-item-param 6,3 <span>куб. м</span>
              .__desc-item
                .__desc-item-title Срок<br> эксплуатации
                .__desc-item-param 30 <span>лет</span>
              .__desc-item
                .__desc-item-title Стоимость<br> комплектующих
                .__desc-item-param 740 <span>руб</span>
            .btn-wrap
              a.__btn.btn(href="#get-order")
                span заказать
                  +svgMono("arrow-hand")
          .__item
            .__title Двухкамерный септик <br> (до 10 человек)
            .__desc
              .__desc-item
                .__desc-item-title Объем
                .__desc-item-param 14,1 <span>куб. м</span>
              .__desc-item
                .__desc-item-title Срок<br> эксплуатации
                .__desc-item-param 30 <span>лет</span>
              .__desc-item
                .__desc-item-title Стоимость<br> комплектующих
                .__desc-item-param 1600 <span>руб</span>
            .btn-wrap
              a.__btn.btn(href="#get-order")
                span заказать
                  +svgMono("arrow-hand")

      .__item
        .b-septic-img
          .__item
            img(src="../../img/content/septic-4.png", alt="Пример септика для 4 человек")
          .__item
            img(src="../../img/content/septic-5.png", alt="Пример септика для 5 человек")
          .__item
            img(src="../../img/content/septic-6.png", alt="Пример септика для 6 человек")
          .__item
            img(src="../../img/content/septic-10.png", alt="Пример септика для 10 человек")

    .b-icon-links.__links
      a(href="#" target="_blanc").b-icon-link
        .__icon
          +svgMono("calc-light")
        | Как расчитать обьем септика
      a(href="#" target="_blanc").b-icon-link
        .__icon
          +svgMono("compare")
        | Как выбрать кольца
      a(href="#" target="_blanc").b-icon-link
        .__icon
          +svgMono("video")
        | Видео по монтажу
