section.b-about.section
  .container
    .row
      .__wrap
        h2.b-title.--section
          span.__big Собственное производство
          span.__sub колец из бетона и плит перекрытий для колодцев
        .b-about-company.spacer
          .b-people.__people
            img.__photo(src="../img/content/ceo.jpg" alt="Александр Кураш")
            .__name Александр Кураш
            .__position руководитель VERNA
          .__txt
            p Специализацией VERNA является изготовление и поставка колец, плит из высококачественного бетона, для оборудования колодцев и септиков. Собственное производство позволяет контролировать качество и осуществлять поставку продукции в день заказа.
            p Команда VERNA имеет более 20-летний опыт работы с бетоном. Мы уверены в нашей продукции, гарантия на все изделия составляет 3 года.
            p Готовы оказать профессиональную помощь и консультации по всем возникающим вопросам.

        h3.b-title-small Преимущества работы с нашей компанией

        .b-faetures
          .container
            .__items
              .__item
                .__icon
                  +svgMono("hand")
                .__text Индивидуальный и деловой подход
              .__item
                .__icon
                  +svgMono("calc")
                .__text Выгодные цены и скидки постоянным клиентам
              .__item
                .__icon
                  +svgMono("prodact")
                .__text Собственное производство
              .__item
                .__icon
                  +svgMono("quality")
                .__text Гарантия качества 3&nbsp;года
              .__item
                .__icon
                  +svgMono("time")
                .__text СЖАТЫЕ сроки изготовления
              .__item
                .__icon
                  +svgMono("auto")
                .__text Доставка по Минску и Минской области
              .__item
                .__icon
                  +svgMono("help")
                .__text Помощь и консультации по всем возникающим вопросам

