.tel
  display: flex
  align-items: center
  &__link
    text-decoration: none
    color: inherit
    font-weight: bold
    white-space: nowrap
  &__code
    font-size: .7em
    margin-right: .5em
  &__msg
    display: flex
    align-items: center
    justify-content: center
    position: relative
    text-decoration: none
    margin-left: 10px
    width: 1.2em
    height: 1.2em
    background-color: #fff
    border-radius: 50%
  &__icon
    display: inline-block
    width: 100%
    height: 100%
    background-size: cover

    &--viber
      background-image: url("../img/icon/viber.svg")
    &--telegramm
      background-image: url("../img/icon/telegram.svg")

.faetures
  &--beton
    background: url("../img/bg-beton.jpg")
    padding: 40px 0 20px
  &__items
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__item
    text-align: center
    margin: 0 $lg 40px
    flex: 0 0 200px
  &__icon
    font-size: 3.5em
    color: $c-dop
    margin-bottom: 10px
    &--check
      color: $c-brand
  &__text
    text-transform: uppercase
    color: $c-light
    font-weight: bold

.quality
  background: url("../img/bg-beton.jpg")
  padding: 60px 0
  &__wrap
    display: flex
  &__cnt
    margin-right: +col-w(1/12)
  &__img
    position: relative
  &__img-sert
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%, 0)
    width: 120px
    transition: all .2s
    transform-origin: 50% 0
    &:hover
      width: 140px

.form-order
  background: linear-gradient(90deg, transparent 00%,  rgba(#fff,.5) 30%, rgba(#fff,.5) 70%, transparent 80%), url("../img/bg-kolca.jpg") no-repeat
  background-size: cover
  &__form
    max-width: 660px
    margin: auto
    background-color: rgba(#fff, .8)

.septic
  &__links
    margin-top: 40px

.icon-links
  display: flex
  justify-content: center

.icon-link
  margin: 0 20px 20px
  max-width: 200px
  text-align: center
  text-transform: uppercase
  font-weight: bold
  .ico
    transition: all .2s ease-in-out
  &:hover
    .ico
      transform: scale(1.3)
  &__icon
    font-size: 3em
    text-align: center
    color: $c-brand
