.ico-mono-arrow-hand {
  width: 1.17em;
  height: 1em;
}
.ico-mono-auto {
  width: 1.09em;
  height: 1em;
}
.ico-mono-calc {
  width: 1em;
  height: 1em;
}
.ico-mono-call {
  width: 1em;
  height: 1em;
}
.ico-mono-cart {
  width: 1em;
  height: 1em;
}
.ico-mono-check {
  width: 1em;
  height: 1em;
}
.ico-mono-hand {
  width: 1em;
  height: 1em;
}
.ico-mono-help {
  width: 1em;
  height: 1em;
}
.ico-mono-next {
  width: 1em;
  height: 1em;
}
.ico-mono-prodact {
  width: 1em;
  height: 1em;
}
.ico-mono-quality {
  width: 1em;
  height: 1em;
}
.ico-mono-scale {
  width: 1em;
  height: 1em;
}
.ico-mono-tel {
  width: 1em;
  height: 1em;
}
.ico-mono-time {
  width: 1.3em;
  height: 1em;
}
.ico-mono-user {
  width: 1em;
  height: 1em;
}
.ico-mono-video {
  width: 1em;
  height: 1em;
}
.ico-mono-word {
  width: 1em;
  height: 1em;
}
