.burger
  +hc-hamburger()
  position: relative
  background-color: $c-brand
  padding: 30px
  text-align: center
  border-radius: 50%
  top: 0
  display: block
  span
    left: $hc-offcanvas-nav-trigger-width/2
