-
  var menudata = [
  {name : 'О компании', link: "#about"},
  {name : 'Продукция', link: "#product"},
  {name : 'Качество', link: "#quality"},
  {name : 'Комплектация септиков', link: "#septic"},
  {name : 'Фотогалерея', link: "#about"},
  {name : 'Контакты', link: "#contact"},
  ]
+menu()

