extend ./part/_base
block var
  - var current = "Home";

block content
  // begin intro
  .b-intro
    .container
      .__cnt-wrap
        .__cnt
          h1.b-title.__title
            span.__sub Производство и продажа <br>армированных
            span.__big железобетонных <br>изделий
          a.__btn.btn(href="#product")
            span Посмотреть продукцию
              +svgMono("arrow-hand")
          img.__znak(src="../img/gost.svg" alt="ЖБИ кольца по ГОСТ")

    .__img
      picture
        source(srcset="../img/intro-col-480.jpg" media="(max-width: 600px)")
        img(src="../img/intro-col.jpg", alt="Производство колец ЖБИ")
  // end intro

  include ./part/about.pug

  .b-quality#quality
    .container
      .__wrap
        .__cnt
          h3.b-title.--section
            span.__big Железобетонное качество<br>и надежность
          p Вся наша продукция изготовливается в соответствии с <strong>ГОСТа 8020-68 (серия 3.900-3)</strong> из бетона <strong>марки 200</strong> и армирующей сетки внутри.
          p Срок гарантии на нашу продукцию составляет <strong>3 года</strong> при сроке эксплуатиции <strong>более 30 лет</strong>.
        .__img
          img(src="../img/prod-quality.png", alt="Бетонные кольца")
          a(href="#").fancybox.__img-sert
            img(src="../img/sert_thumb.jpg", alt="")

  include ./part/_form-order.pug


  section.b-products.section#product
    .b-product
      .container
        .__title
          .__title-head
            h2.b-title.--product
              span.__big Кольца стеновЫе
              span.__sub от производителя в Минске и минской области
          .__desc
            p Кольцо стеновое – это тип железобетонных изделий, которые активно применяются в строительстве трубопроводов, газовых магистралей, колодцев, оборудовании канализации частных домов и и т.д.
            p Маркировка продукции осуществляется с применением буквенно-цифровых обозначений, согласно ГОСТу. Первая цифра, стоящая после букв - диаметр изделия. Вторая цифра - высоты элемента.
        .__cnt
          .__img
            img(src="../img/content/prod-kolco.jpg", alt="Кольца стеновЫе")
          .__items
            include ./part/_product-ring.pug

    .b-product
      .container
        .__title
          .__title-head
            h2.b-title.--product
              span.__big Плиты перекрытий
              span.__sub собственного производства
          .__desc
            p Плиты перекрытий используются при сооружения смотровых колодцев канализационных и водопроводных сетей для создания герметичности и зашиты колодца.
        .__cnt
          .__img
            img(src="../img/content/cap.jpg", alt="Кольца стеновЫе")
          .__items
            include ./part/_product-cap.pug

    .b-product
      .container
        .__title
          .__title-head
            h2.b-title.--product
              span.__big Люки полимерные
              span.__sub для колодцев и септиков
          .__desc
            p Купить плиты для колодцов в Минске
        .__cnt
          .__img
            img(src="../img/content/hatch.jpg", alt="Люки полимерные")
          .__items
            include ./part/_product-luk.pug

  .b-features.--beton
    .container
      h3.title-small Преимущества использования колец из ЖБИ
      .__items.js-features
        .__item
          .__icon.--check
            +svgMono("check")
          .__text Высокое качество по доступной цене
        .__item
          .__icon.--check
            +svgMono("check")
          .__text Широкий размерный ряд
        .__item
          .__icon.--check
            +svgMono("check")
          .__text Возможность быстро обустроить систему водопровода и канализации
        .__item
          .__icon.--check
            +svgMono("check")
          .__text Высокая герметичность
        .__item
          .__icon.--check
            +svgMono("check")
          .__text Жёсткость конструкции
      .b-btn-wrap
        a(href="#").btn
          +svgMono("word", "ico-left")
          span Скачать прайс-лист

  include ./part/_form-order.pug

  include ./part/_septic

  .b-photo-gall#photogall
    .container
      h2.b-title.--product
        span.__big Фотогалерея
    .__wrap
      a.__item.fancy-gall(href="../img/content/photogall/pr-1.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-1.jpg" alt="")
      a.__item.fancy-gall(href="../img/content/photogall/pr-2.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-2.jpg" alt="")
      a.__item.fancy-gall(href="../img/content/photogall/pr-3.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-3.jpg" alt="")
      a.__item.fancy-gall(href="../img/content/photogall/pr-1.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-1.jpg" alt="")
      a.__item.fancy-gall(href="../img/content/photogall/pr-2.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-2.jpg" alt="")
      a.__item.fancy-gall(href="../img/content/photogall/pr-3.jpg" data-fancybox="Gallery")
        img(src="./img/content/photogall/pr-3.jpg" alt="")

  .b-map#contact
    .container
      h2.b-title.--product
        span.__big Контакты
    .yc
      //- | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18c826e8a2038b2beb58d25682400cb1f564d9ac8df55834b90c0b1996b39534&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

