.slick-arrow
  display: block
  font-size: 0
  color: transparent
  background-color: transparent
  background-size: cover
  border: none
  padding: 0px
  appearance: none
  width: 30px
  height: 30px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 1
  outline: none
  cursor: pointer

.slick-prev
  left: 0
  background: url("../../img/arrow-prev.svg") no-repeat
.slick-next
  right: 0
  background: url("../../img/arrow-next.svg") no-repeat

.sept-count
  .slick-arrow
    border-radius: 50%
    border: 2px solid $c-brand
    background: #FFD185
