.slick-arrow
  display: block
  font-size: 0
  color: transparent
  background-color: transparent
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  border: none
  padding: 0px
  appearance: none
  width: 30px
  height: 30px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 1
  outline: none
  cursor: pointer
  transition: all .5s

.slick-prev
  left: 20px
  background-image: url("../../img/arrow-prev.svg")
.slick-next
  right: 20px
  background-image: url("../../img/arrow-next.svg")
.slick-disabled
  opacity: .5

.septic
  &__wrap
    +row
  &__item
    &:not(:first-of-type)
      +rmax(md)
        margin-top: 60px
    +r(md)
      +col(1/2)

.sept-count
  width: 290px
  margin: auto
  border-radius: 60px
  overflow: hidden
  margin-bottom: 30px
  &__item
    justify-content: center
    padding: 10px 40px
    height: 50px
    align-items: center
    color: #fff
    background-color: $c-main
    .ico
      font-size: 2em
      margin-right: .5em
  .slick-arrow
    border-radius: 50%
    border: 2px solid $c-brand
    background-color: #FFD185
    width: 50px
    height: 50px
    background-size: 60%
  .slick-disabled
    opacity: .7
  .slick-prev
    left: 0
    background-image: url("../../img/minus.svg")
  .slick-next
    right: 0
    background-image: url("../../img/plus.svg")

.slick-initialized .sept-count__item
  display: flex

.js-features
  .slick-prev
    left: 0
  .slick-next
    right: 0
  +rmax(560)
    padding: 0 30px
    .slick-slide
      margin-bottom: 0
